<nav class="top-menu">
  <ul>
    <li><a href="/recent">recent</a></li>
    <li><a href="/neglected">neglected</a></li>
    <li><a href="">archived</a></li>
    <li><a href="/bookmarks">all</a></li>
  </ul>
</nav>

<div class="bookmarks">
  <% @bookmarks.each do |bookmark| %>

    <div class="bookmark">
      <a target="_blank" href="/track?id=<%= bookmark.id %>&url=<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
      <span><%= bookmark.click_count %></span>
    </div>

  <% end %>
</div>